# Recession Predictor

Introduction

Explain other methodologies used to predict recession.
*Federal Reserve
*Rabobank
*Blah
*Blah

Explain what I'm trying to do, not only to look at recession as a binary as NBER describes it, but also to predict future GDP in the [] futre terms.

Explain factors considered:
* **10 year - 3 month treasuries**- Federal Reserve's methodology.
* Labor participation rate- Too macro driven, such as women entering workforce, or retirement of Baby Boomers.
* S&P 500 debt to equity ratio
* S&P 500
* S&P 500 PE ratio
* S&P 500 RE ratio
* Shiller Cyclically Adjusted PE ratio
* Equity/money market ratio
* Personal savings rate- Too macro driven, such as women entering workforce, or retirement of Baby Boomers.
* Incremental capital outputs ratio- Hard to find on the web.
* Outstanding short term repo
* Private investment as percent of GDP
* Purchasing Managers Index- 
* Leading Economic Indicators Index- Locked behind paywall.
* Consumer confidence Index- Locked behind paywall.
* Economic Optimism Index- Locked behind paywall.
* VIX Volativity Index- describes the volatility, not the trend of the 
* Wage growth
* CPI-W Inflation
* Effective Federal funds rate
* Change in working hours
* Delinquency in consumer loans

## Data Preparation

First, import the necessary packages.

In [1]:
import fredapi
import requests
import pandas as pd
import json

Explain data source: Federal Reserve Economic Research (FRED), and Quandl

Get Federal Reserve data.

In [2]:
fred = fredapi.Fred(api_key='8b91217446b6307d20cb5e4fcfba70eb')
# daily data
fred_t10y3m = fred.get_series('T10Y3M')
fred_sp500 = fred.get_series('SP500')
# monthly data
fred_cpiw = fred.get_series('CWUR0000SA0') # assume end of period
# quarterly data
fred_gdp = fred.get_series('GDP')
fred_gdp_growth = fred.get_series('A191RL1Q225SBEA')
fred_pinvest = fred.get_series('A006RE1Q156NBEA') # assume end of period
fred_delcon = fred.get_series('DRCLACBS') # end of period

We need to convert FRED data from series into dataframe.

In [4]:
fred_gdp = fred_gdp.to_frame().reset_index()
fred_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 2 columns):
index    294 non-null datetime64[ns]
0        290 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 4.7 KB

In [5]:
fred_t10y3m = fred_t10y3m.to_frame().reset_index()
fred_sp500 = fred_sp500.to_frame().reset_index()
fred_cpiw = fred_cpiw.to_frame().reset_index()
fred_gdp_growth = fred_gdp_growth.to_frame().reset_index()
fred_pinvest = fred_pinvest.to_frame().reset_index()
fred_delcon = fred_delcon.to_frame().reset_index()

In [11]:
fred_gdp.head()

       index        0
0 1946-01-01      NaN
1 1946-04-01      NaN
2 1946-07-01      NaN
3 1946-10-01      NaN
4 1947-01-01  243.164

In [24]:
r = requests.get('https://www.quandl.com/api/v3/datasets/MULTPL/SHILLER_PE_RATIO_MONTH.json?api_key=8ufKe7Y2JMsYPU3CGN7m')
#df = pd.DataFrame.from_dict(pd.io.json.json_normalize(pe_ratio), orient='columns')
pe_ratio_json = r.json()
#print(json.dumps(pe_ratio, indent=2))

pe_ratio = pd.DataFrame.from_dict(pe_ratio_json['dataset']['data'])

pe_ratio.head(5)

            0      1
0  2019-10-01  29.03
1  2019-09-01  28.91
2  2019-08-01  28.91
3  2019-07-01  30.26
4  2019-06-01  29.47

In [8]:
pe_ratio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1786 entries, 0 to 1785
Data columns (total 2 columns):
0    1786 non-null object
1    1786 non-null float64
dtypes: float64(1), object(1)
memory usage: 28.0+ KB

We need to convert object type to datetime type.

In [25]:
pe_ratio.iloc[:,0] = pd.to_datetime(pe_ratio.iloc[:,0], format='%Y-%m-%d')
pe_ratio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1786 entries, 0 to 1785
Data columns (total 2 columns):
0    1786 non-null datetime64[ns]
1    1786 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 28.0 KB

Since Quandl data is taken at the beginning of the month, we will subtract 1 day to get end of month. Assuming no catastrophic changes should occur in the span of 1 day.

In [27]:
pe_ratio.iloc[:,0] = pe_ratio.iloc[:,0] - pd.to_timedelta(1, unit='day')
pe_ratio.head()

           0      1
0 2019-09-30  29.03
1 2019-08-31  28.91
2 2019-07-31  28.91
3 2019-06-30  30.26
4 2019-05-31  29.47

#### Steps
1. get json data and convert to dataframe
2. convert fred series into dataframe
3. convert dates into srptime type
4. convert data to same timeframe (monthly)
    *daily to monthly
    *quarterly to monthly, fill in missing data
5. find reasonable start and end time
6. remove dates with null data
7. join all data into same dataframe

Misc.
* table of contents & navigation

In [9]:
# find oldest date
# find newest date

# fred_t10y3m.head(1)
# fred_sp500.head(1)
# fred_cpiw.head(1)
# fred_gdp.head(1)
# fred_gdp_growth.head(1)
# fred_pinvest.head(1)
# fred_delcon.head(1)

## Data Analysis

## Findings

## Limitations

This predictor does not pinpoint the cause of a recession, but makes a general comment about the state of the economy. The underlying assumption is that these inputs are efficient enough to reflect long term market conditions, but inefficient enough to price in the short term fluctuations in GDP.

## Closing Thoughts